/* This file is for your main application css. */
body {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  overflow: hidden;
}

body, html {
  position: fixed;
}

* {
  box-sizing: border-box;
}

main {
  height: 100vh;
}

.city-name-shown {
  font-size: 5px;
  fill: white;
}

.city-name-hidden {
  display: none;
}
