{
    "presets": [
        ["@babel/preset-env", {
            "targets": "> 5%"
        }],
        "@babel/preset-react",
        ["minify", {
            "builtIns": false,
            "evaluate": true,
            "mangle": true
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]//,
    // "env": {
    //     "production": {
    //         "presets": ["minify"]
    //     }
    // }
}
